html,
body {
    padding: 20px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.chat-widget {
    width: 450px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    padding: 10px;
    height: 75%;
    overflow-y: scroll;
}

.chat-input {
    padding: 10px;
    width: 89%;
    outline: none;
    border: 1px solid black;
    border-radius: 12px;
    margin: 20px;
}

.chat-input:focus {
    border: 1px solid #007bff;
}

.chat-button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-message {
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 15px;
    text-align: left;
    width: 264px;
    position: relative;
    left: 100px;
    padding: 12px;
    margin: 10px 0px 10px 0px;
}

.bot-message {
    padding: 12px;
    background-color: darkgray;
    border: 1px solid darkgray;
    border-radius: 15px;
    text-align: left;
    width: 264px;
}

.button-wrapper {
    text-align: center;
}
